.courseOptions::-webkit-scrollbar{
    height: 2px;
    background: transparent;
}
.courseOpt{
    color: #161618;
    font-weight: 500;
}
.blogButton{
    color: #1212f6;
    font-weight: 400;
}
.blue{
    color: #1243f6;
}
.shade{
    color: #bebebe;
}
.courseDisplay::-webkit-scrollbar{
    width: 3px;
    background: transparent;
}
.courseDisplay::-webkit-scrollbar-track{
    width: 2px;
    /*background: gainsboro;*/
}
.courseDisplay::-webkit-scrollbar-thumb , .courseOptions::-webkit-scrollbar-thumb {
    width: 3px;
    background: #acd7e7;
    border-radius: 30px;
}